/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/nanoquant'

aws.client.anonymous = true
// fixes S3 access issues on self-hosted runners

// Test data GTF has transcript versions as separate attributes, so gffread needs -L
// to append them to transcript IDs (matching BUSpaRse output)
process {
    withName: GFFREAD {
        ext.args = '-w -L'
    }
}
