/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: GFFREAD {
        ext.args = '-w'
    }
    withName: 'KALLISTO_.*' {
        container = 'quay.io/shahlab_singularity/lr-kallisto:0.51.0'
    }
    withName: KALLISTO_INDEX {
        ext.args = '-k 63'
    }
    withName: KALLISTO_BUS {
        cpus       = { 16 }
        memory     = { 20.GB * task.attempt }
        time       = { 2.h * task.attempt }
        queue      = { task.attempt > 1 ? 'componc_cpu' : 'cpushort' }
        maxRetries = 1
    }
    withName: BUSTOOLS_SORT {
        cpus   = 8
        memory = 20.GB
        time   = { 0.5.h * task.attempt }
        queue  = { task.attempt > 3 ? 'componc_cpu' : 'cpushort' }
    }
    withName: KALLISTO_TCCQUANT {
        cpus   = 16
        memory = { 40.GB * task.attempt }
        time   = { 2.h * task.attempt }
        queue  = { task.attempt > 1 ? 'componc_cpu' : 'cpushort' }
    }

    withName: SE_GENE_UNIFIED {
        ext.prefix = { "${meta.id}_gene" }
        ext.args   = '--assay_names counts,counts_length_scaled,counts_scaled,lengths,tpm'
        publishDir = [
            path: { "${params.outdir}/se/${meta.id}_gene" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: SE_TRANSCRIPT_UNIFIED {
        ext.prefix = { "${meta.id}_transcript" }
        ext.args   = '--assay_names counts,lengths,tpm'
        publishDir = [
            path: { "${params.outdir}/se/${meta.id}_transcript" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
